# Python cache
**/__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# IDE configs
.vscode/
.idea/

# Others
*.log
*.sqlite3
Thumbs.db
.DS_Store
# Python egg / dist files (if packaging later)
*.egg-info/
dist/
build/


#Files for starting from compeletely newly if someone want
# src/personal_expense_tracker/files/*
